:root {
    --bg0: #1d2021;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;

    --fg0: #FBF1C7;
    --fg1: #EBDBB2;
    --fg2: #D5C4A1;
    --fg3: #BDAE93;
    --fg4: #A89984;

    --bred: #fb4934;
    --borange: #fe8019;
    --byellow: #fabd2f;
    --bblue: #83a598;
    --baqua: #8ec07c;
    --bgreen: #b8bb26;
    --bpurple: #d3869b;
}

html {
    font-family: 'Hack Nerd Font', 'Nerd Font', monospace;
    background-color: var(--bg0);
    font-size: 14px;
    margin: 0rem !important;
    padding: 0rem !important;
    height: 100vh !important;
    width: 100vw !important;
    display: contents;
}

body {
    position:fixed;
    margin: 1rem !important;
    padding: 0rem !important;
    display: grid;
    grid-gap: 1rem;
    grid-template:
        "result editor" auto
        "action editor" min-content /
        50% 50%;
    width: calc(100vw - 3rem);
    height: calc(100vh - 2rem);
}

a {
    color: var(--bblue)
}

button, input, label {
    border: none;
    outline: none;
    border-radius: 0.8rem;
    margin: 0rem;
    padding: 1rem;
    color: var(--fg0);
    background-color: var(--bg1);
    font-size: 1em;
    transition: all 0.1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 0.5rem;
}

button:active, input:active, 
button:hover, input:hover {
    outline: 0.2rem solid var(--bpurple);
    color: var(--fg1);
    background-color: var(--bg2);
    outline: 0.2rem solid var(--bpurple);
}

.pane {
    padding: 1rem;
    margin: 0rem !important;
    border: 0.2rem solid var(--fg4);
    background-color: var(--bg0);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: stretch;
    border-radius: 0.8rem;
    transition: all 0.1s linear;
}

.pane:active, .page:hover {
    border: 0.2rem solid var(--fg0);
}

#result {  grid-area: result; }
#editor {  grid-area: editor; }
#action {  grid-area: action; }

iframe {
    border: 0.2rem solid var(--bg4);
    margin: 0;
    margin-bottom: 1rem;
}

#editors {
    height: 100%;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

code-input {
    border-radius: 0.8rem;
    transition: all 0.1s linear;
    padding: 1rem;
    font-family: 'Hack Nerd Font', monospace !important;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

code-input:active, code-input:focus, code-input:hover {
    outline: 0.2rem solid var(--bpurple);
}

.label {
    color: var(--baqua);
    position:static;
    width: fit-content;
    background-color: var(--bg0);
    width: fit-content;
    padding-inline: 0.2rem;
    font-weight: bold;
    height: fit-content;
    padding-block: 0;
    margin-top: -1.7rem;
    margin-bottom: 0.1rem;
    margin-left: 2rem;
}

#canvas {
    border-radius: 0.8rem;
    width: 100%;
}

#actions {
    display: flex;   
    flex-direction: row;
    gap: 0.5rem;
}

.suggestion {
    background-color: var(--bg4);
    color: var(--fg4);
    font-style: italic;
    padding: 0.2rem;
    margin: 0;
    border: none;
}

.key_code {
    color: var(--bpurple)
}

.key_code::before {
    content: "<";

    color: var(--fg4);
}
.key_code::after {
    content: ">";

    color: var(--fg4);
}

#help_msg {
    position: fixed;
    top: 10rem;
    left: 10rem;
    border: 0.2rem solid var(--bgreen);
    padding: 0;
    background-color: var(--bg);
    border-radius: 0.8rem;
    display:none;
}

#edit-holder {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 0.5rem;
    height: calc(100% - 0.5rem);
    flex-grow: 1;
}

#frag-shader {
    flex-grow: 2;
}

#vert-shader {
    flex-shrink: 1.5;
}

.stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    gap: 0.5rem;
    flex-shrink: 1;
}

.stat {
    color: var(--fg1);
    background-color: var(--bg1);
    padding: 0.5rem;
    border-radius: 0.8rem;
    flex-grow: 1;   
    text-align: center;
}

code-input::after {
    content: attr(lang);
    color: var(--fg4);
    background-color: var(--bg1);
    width: fit-content;
    z-index: 100;
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem;
    border-radius: 0.8rem;
    transition: all 0.2s linear;
    text-align: right;
}

code-input:hover::after {
    opacity: 0;
}

code-input::-webkit-scrollbar {
    display: none;
}

#upload {
    flex-grow: 4;
    color: var(--borange)
}


#help_msg > pre { margin: 0 !important}
#help_msg { overflow: auto !important} /* Brought to you by @JRF */
